@import "~nprogress/nprogress.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  
}
a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* Width 100% */
.w-100 {
  width: 100%;
}

.centering {
  margin: auto;
}

.center-image {
  display: block;
  margin: auto;
}

.flex-row,
.flex-col {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.gap10 {
  gap: 10px;
}



/* nprogres */
#nprogress .bar {
  background-color: red !important;
}
#nprogress .spinner-icon {
  border-top-color: red !important;
  border-left-color: red !important;
}

/* -------------------------- */