html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-width: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Width 100% */
.w-100 {
  width: 100%;
}

.centering {
  margin: auto;
}

.center-image {
  display: block;
  margin: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.flex-col {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
